<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <title>Kaufen</title>
</head>
<body>
  <header>
    <a href="/">
      <h1>PlayStation Store</h1>
    </a>
  </header>
  <h2>Bestätige dass du kein Bot bist</h2>
  <div class="container">
    <form method="post" action="/purchaseConfirmation">
      <div>
        <%- captcha %>
      </div>
      <div>
        <label for="captchaInput">Captcha:</label>
        <input type="text" name="captcha">
      </div>
      <button type="submit">Bestätigen</button>
    </form>
  </div>
</body>
</html>