<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Home</title>
</head>
<body>
    <header>
        <h2 style="font-size: 36px;">Welcome</h2>
    </header>
    <div style="display: flex; justify-content: center; margin-top: 3rem;">
        <a style="padding-right: 2rem;" href="/secure/">Secure</a>
        <a style="padding-right: 2rem;" href="/insecure/">Insecure</a>
        <a style="padding-right: 2rem;" href="/getCookie">Get a new Cookie</a>
        <a style="padding-right: 2rem;" href="/invalidateCookie">Invalidate Cookie</a>
    </div>
</body>
</html>